<form action="/pizzas" method="POST">
  <label for="firstName">First Name: </label>
  <input type="text" id="firstName" name="first_name">
  <br>
  <label for="lastName">Last Name: </label>
  <input type="text" id="lastName" name="last_name">
  <br>
  <label for="pizza_select">Select Your Pizza</label>
  <select id="pizza_select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Marinara">Marinara</option>
  </select>
  <br>
  <label for="quantity">Quantity</label>
  <input type="number" id="quantity" name="quantity">
  <br>
  <input type="submit" value="Order Pizza">




</form>